[alias]
	root = rev-parse --show-toplevel
  aa = add --all
  st = status --short
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  ld = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --graph
  ls = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
[core]
	excludesfile = ~/.gitignore_global
  pager = delta
[difftool "sourcetree"]
	cmd = /Applications/kdiff3.app/Contents/MacOS/kdiff3 \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/kdiff3.app/Contents/MacOS/kdiff3 \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true
[user]
	name = Nadeem Khedr
	email = nadeemkhedr@gmail.com
[commit]
	template = ~/.stCommitMsg
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[delta]
  navigate = true    # use n and N to move between diff sections
  #side-by-side = true
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
